$blue: #2117f8;
$darkBlue: #000096;

* {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}

.container{
  padding: 2% 8%;

  &.nopadding{
    padding: 0;
  }
}

#numbers > .number {
  width: 60px;
  height: 60px;
  border: 2px solid $blue;
  text-align: center;
  line-height: 60px;
  font-size: 1.4em;
  cursor: pointer;
  border-radius: 9px;
  float: left;
  margin-right: 7px;
  margin-bottom: 8px;

  transition: .5s;

  &:hover{
    background: $blue;
    color: #fff;
  }
}

.navbar{
  height: 56px;
  width:100%;
  background: $blue;
  position:fixed;
  left:0;
  top:0;
  padding: 0px 25px;
  display: flex;
  align-items: center;
  color: #fff;
}

#backIcon{
  font-size: 1.4em;
  padding-right: 15px;
  opacity: .8;
  transition:.6s;
  cursor: pointer;

  &:hover{
    opacity: 1;
    transform:translateX(-10%) scale(1.1);
    padding-right: 10px;
  }
}

ul,li {
  margin:0;
  padding:0;
  list-style: none;
}

#app.bus-list {
  margin-top: 65px;
  padding: 0 10px;
}

#app.home{
  margin-top: 46px;
}

#app {
  .navbar > strong {
    margin-right:5px;
  }

  transition: opacity 1s;

  .navbar {
    i{
      transition:.7s;
    }
    i.hidden{
      opacity:0;
      transform:translateX(-100%);
    }
  }

  &.mzd-transition-out{
    opacity: 0;
  }
}

.direction__header{
  color: $darkBlue;
}

.directions{
  margin-top: 13px;
  position: relative;

  .direction__name{
    margin: 0;
    padding-bottom: 8px;
    font-size: 1.1em;
  }

  .direction-header__wrapper{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #444;

    .toggleDirection{
      font-size: 1.15em;
      transition: .6s;
    }

    &.active {
      .toggleDirection{
        transform: rotate(180deg);
      }
    }
  }

  .direction {
    transition: 1s;

    &:not(.active){
      position:absolute;
      opacity:0;
      transform:translateY(50%);
      width: 100%;
      z-index:-1000;
    }

    li{
      cursor: zoom-in;
      i{
        padding-right: 10px;
        font-size: 1.2em;
      }
      padding: 10px 0px;
      border-bottom: 1px dashed $darkBlue;

    }
  }
}

#app{
  &.container-padding{
    padding: 2% 8%;
  }

  @media (min-width:768px){
    &.bus-list{
      padding: 1% 4%;
    }
  }
}

#app.cont-schedule{
  padding: 0;
  padding-top: 56px;
}
.schedule{
  .daytype{
    h3{
      margin:0;
      padding: 10px 20px;
      background: rgba(0,0,255,.65);
      color:#fff;
    }
  }

  .days {
    overflow: hidden;
    background: rgba(0,0,255,.1);
    padding: 6%;
      > .day {
      float: left;
      margin-right: 12px;
      margin-bottom: 12px;
      color: #555;

      &.past{
        color: #aaa;
      }

      &:last-of-type{
        clear:right;
      }
    }
  }
}

@media (min-width:800px){
  .schedule{
    .days{
      padding: 20px;
    }
  }
}